@tailwind base;
@tailwind components;
@tailwind utilities;

.name{
    font-family:Segoe Print;
}
.sidebar{
    background: rgb(28,27,57);
background: linear-gradient(90deg, rgba(28,27,57,0.3617822128851541) 0%, rgba(6,26,79,0.36458333333333337) 35%, rgba(128,149,153,0.20211834733893552) 100%);
}



.link-item {
    
   
    transition-duration: 1000ms;
  }
  
  .show .link-item {
    
    opacity: 1;
  }
  .menu-icon {
    transition: transform 0.3s ease; /* Adjust the duration (0.3s) for the animation speed */
  }

  .layout{
    background: rgb(40,74,235);
background: linear-gradient(90deg,
 rgba(40,74,235,0.6979166666666667) 4%,
  rgba(4,131,238,0.5130427170868348) 47%,
   rgba(169,63,217,0.8015581232492998) 100%);
  }

  .placeholder-white::placeholder {
    color: white;
  }

  